In [1]:
#normalize data

import pandas as pd
from sklearn.preprocessing import normalize

In [2]:
data1 = pd.read_csv('jabar_sehat.csv')
data2 = pd.read_csv('jabar_sehat2.csv')
data3 = pd.read_csv('kdrt_2018_2021.csv')
data4 = pd.read_csv('kekerasan_pendidikan_2018_2021.csv')
data5 = pd.read_csv('kekerasan_usia_2018_2021.csv')

In [3]:
norm_data1 = data1.copy()
norm_data2 = data2.copy()
norm_data3 = data3.copy()
norm_data4 = data4.copy()
norm_data5 = data5.copy()

In [9]:
norm_data5

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,kategori_usia,jml_kelompok_usia
0,0,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,0-5 TAHUN,0
1,1,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,6-12 TAHUN,0
2,2,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,13-17 TAHUN,0
3,3,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,18-24 TAHUN,0
4,4,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,25-44 TAHUN,0
...,...,...,...,...,...,...,...,...
751,751,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,13-17 TAHUN,0
752,752,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,18-24 TAHUN,0
753,753,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,25-44 TAHUN,0
754,754,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,45-59 TAHUN,0
755,755,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,60+ TAHUN,0

In [15]:
kolom3 = ['jml_kdrt']

In [20]:
kolom4 = ['jml_kelompok_pendidikan']
kolom5 = ['jml_kelompok_usia']

In [17]:
#normalize 345
norm_data3[kolom3] = normalize(X=norm_data3[kolom3], norm='l2', axis=1)
norm_data4[kolom4] = normalize(X=norm_data4[kolom4], norm='l2', axis=1)
norm_data5[kolom5] = normalize(X=norm_data5[kolom5], norm='l2', axis=1)

In [23]:
norm_data5

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,kategori_usia,jml_kelompok_usia
0,0,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,0-5 TAHUN,0.0
1,1,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,6-12 TAHUN,0.0
2,2,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,13-17 TAHUN,0.0
3,3,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,18-24 TAHUN,0.0
4,4,2018,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,25-44 TAHUN,0.0
...,...,...,...,...,...,...,...,...
751,751,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,13-17 TAHUN,0.0
752,752,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,18-24 TAHUN,0.0
753,753,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,25-44 TAHUN,0.0
754,754,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,45-59 TAHUN,0.0
755,755,2021,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,60+ TAHUN,0.0

In [25]:
norm_data2.head()

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,persentase_penduduk,jml_ims,jml_balita
0,0,2020,JAWA BARAT,3201,KABUPATEN BOGOR,78.72,32.64,645.0,21322.0
1,1,2020,JAWA BARAT,3202,KABUPATEN SUKABUMI,78.42,31.04,9.0,8838.0
2,2,2020,JAWA BARAT,3203,KABUPATEN CIANJUR,77.12,37.58,645.0,9069.0
3,3,2020,JAWA BARAT,3204,KABUPATEN BANDUNG,82.35,26.78,988.0,13728.0
4,4,2020,JAWA BARAT,3205,KABUPATEN GARUT,79.09,35.42,116.0,9128.0

In [26]:
norm_data1

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,persentase_penduduk,jumlah_ibu_hamil,jumlah_bayi
0,0,2016,JAWA BARAT,3201,KABUPATEN BOGOR,77.92,30.28,126474.0,98.0
1,1,2016,JAWA BARAT,3202,KABUPATEN SUKABUMI,77.14,27.57,51056.0,186.0
2,2,2016,JAWA BARAT,3203,KABUPATEN CIANJUR,75.98,27.75,46284.0,323.0
3,3,2016,JAWA BARAT,3204,KABUPATEN BANDUNG,81.69,25.73,79912.0,66.0
4,4,2016,JAWA BARAT,3205,KABUPATEN GARUT,78.09,29.14,62514.0,143.0
...,...,...,...,...,...,...,...,...,...
76,76,2018,JAWA BARAT,3275,KOTA BEKASI,84.25,26.89,56551.0,209.0
77,77,2018,JAWA BARAT,3276,KOTA DEPOK,83.34,27.33,47550.0,76.0
78,78,2018,JAWA BARAT,3277,KOTA CIMAHI,82.69,30.82,11713.0,31.0
79,79,2018,JAWA BARAT,3278,KOTA TASIKMALAYA,79.54,32.43,13265.0,0.0
80,80,2018,JAWA BARAT,3279,KOTA BANJAR,77.83,38.60,3238.0,0.0

In [ ]:
#data 1 2

In [30]:
kolom1 = ['jumlah_ibu_hamil', 'jumlah_bayi']
kolom2 = ['jml_ims', 'jml_balita']

In [31]:
norm_data1[kolom1] = normalize(X=norm_data1[kolom1], norm='l2', axis=1)
norm_data2[kolom2] = normalize(X=norm_data2[kolom2], norm='l2', axis=1)

In [33]:

norm_data1.to_csv('jabar_sehat.csv')
norm_data2.to_csv('jabar_sehat2.csv')
norm_data3.to_csv('kdrt_2018_2021.csv')
norm_data4.to_csv('kekerasan_pendidikan_2018_2021.csv')
norm_data5.to_csv('kekerasan_usia_2018_2021.csv')

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,persentase_penduduk,jumlah_ibu_hamil,jumlah_bayi
0,0,2016,JAWA BARAT,3201,KABUPATEN BOGOR,77.92,30.28,126474.0,98.0
1,1,2016,JAWA BARAT,3202,KABUPATEN SUKABUMI,77.14,27.57,51056.0,186.0
2,2,2016,JAWA BARAT,3203,KABUPATEN CIANJUR,75.98,27.75,46284.0,323.0
3,3,2016,JAWA BARAT,3204,KABUPATEN BANDUNG,81.69,25.73,79912.0,66.0
4,4,2016,JAWA BARAT,3205,KABUPATEN GARUT,78.09,29.14,62514.0,143.0
...,...,...,...,...,...,...,...,...,...
76,76,2018,JAWA BARAT,3275,KOTA BEKASI,84.25,26.89,56551.0,209.0
77,77,2018,JAWA BARAT,3276,KOTA DEPOK,83.34,27.33,47550.0,76.0
78,78,2018,JAWA BARAT,3277,KOTA CIMAHI,82.69,30.82,11713.0,31.0
79,79,2018,JAWA BARAT,3278,KOTA TASIKMALAYA,79.54,32.43,13265.0,0.0
80,80,2018,JAWA BARAT,3279,KOTA BANJAR,77.83,38.60,3238.0,0.0