In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('jabar_sehat20_21.csv')
data2 = pd.read_csv('kdrt_2018_2021.csv')
data3 = pd.read_csv('kekerasan_pendidikan_2018_2021.csv')
data4 = pd.read_csv('kekerasan_usia_2018_2021.csv')

In [6]:
data1.head()

,Unnamed: 0,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,indeks_kesehatan,persentase_penduduk,jml_ims,jml_balita
0,0,2020,JAWA BARAT,3201,KABUPATEN BOGOR,78.72,32.64,645.0,21322.0
1,1,2020,JAWA BARAT,3202,KABUPATEN SUKABUMI,78.42,31.04,9.0,8838.0
2,2,2020,JAWA BARAT,3203,KABUPATEN CIANJUR,77.12,37.58,645.0,9069.0
3,3,2020,JAWA BARAT,3204,KABUPATEN BANDUNG,82.35,26.78,988.0,13728.0
4,4,2020,JAWA BARAT,3205,KABUPATEN GARUT,79.09,35.42,116.0,9128.0

In [7]:
# wrangling data1
data1 = data1.drop(['Unnamed: 0', 'indeks_kesehatan', 'persentase_penduduk'], axis=1)

#drop tahun
data1.drop(data1[data1['tahun']== 2020].index, inplace= True)

In [43]:
#wrangling data 2, 3, 4

data2_group = data2.copy()
data3_group = data3.copy()
data4_group = data4.copy()

# drop tahun 2020
data2_group.drop(data2_group[data2_group['tahun']== 2018].index, inplace= True)
data3_group.drop(data3_group[data3_group['tahun']== 2018].index, inplace= True)
data4_group.drop(data4_group[data4_group['tahun']== 2018].index, inplace= True)

In [45]:
#group by berdasarkan nama kabupaten
data2_ = data2_group.groupby(['nama_kabupaten_kota'])[['jml_kdrt']].sum()
data3_ = data3_group.groupby(['nama_kabupaten_kota'])[['jml_kelompok_pendidikan']].sum()
data4_ = data4_group.groupby(['nama_kabupaten_kota'])[['jml_kelompok_usia']].sum()

In [54]:
data2_.head(3)

                         jml_kdrt
nama_kabupaten_kota
KABUPATEN BANDUNG              13
KABUPATEN BANDUNG BARAT         3
KABUPATEN BEKASI                7

In [55]:
# merge data
data = data1.merge(data2_, on=('nama_kabupaten_kota'), how='outer')
data = data.merge(data3_, on=('nama_kabupaten_kota'), how='outer')
data = data.merge(data4_, on=('nama_kabupaten_kota'), how='outer')

In [57]:
score = data.copy()

In [58]:
score.head(1)

,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jml_ims,jml_balita,jml_kdrt,jml_kelompok_pendidikan,jml_kelompok_usia
0,2021,JAWA BARAT,3201,KABUPATEN BOGOR,363.0,16821.0,6,15,20

In [88]:
#membuat rank


score['mean'] = score.mean(axis=1)
score['total'] = score['jml_ims'] + score['jml_balita'] + score['jml_kdrt'] + score['jml_kelompok_pendidikan'] + score['jml_kelompok_usia']
score['ranking'] = score['mean'].rank(method='min')

In [90]:
score

,tahun,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jml_ims,jml_balita,jml_kdrt,jml_kelompok_pendidikan,jml_kelompok_usia,mean,total,ranking
0,2021,JAWA BARAT,3201,KABUPATEN BOGOR,363.0,16821.0,6,15,20,3206.714286,17225.0,27.0
1,2021,JAWA BARAT,3202,KABUPATEN SUKABUMI,4.0,6099.0,2,20,28,1625.142857,6153.0,19.0
2,2021,JAWA BARAT,3203,KABUPATEN CIANJUR,355.0,5788.0,3,11,15,1628.000000,6172.0,20.0
3,2021,JAWA BARAT,3204,KABUPATEN BANDUNG,491.0,8809.0,13,33,43,2087.714286,9389.0,24.0
4,2021,JAWA BARAT,3205,KABUPATEN GARUT,84.0,313.0,1,3,6,804.714286,407.0,2.0
5,2021,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,1082.0,4572.0,6,42,43,1567.428571,5745.0,18.0
6,2021,JAWA BARAT,3207,KABUPATEN CIAMIS,224.0,2368.0,0,1,1,1117.428571,2594.0,9.0
7,2021,JAWA BARAT,3208,KABUPATEN KUNINGAN,489.0,2461.0,0,0,0,1168.428571,2950.0,11.0
8,2021,JAWA BARAT,3209,KABUPATEN CIREBON,1366.0,13385.0,3,3,7,2856.285714,14764.0,25.0
9,2021,JAWA BARAT,3210,KABUPATEN MAJALENGKA,825.0,3705.0,0,5,5,1395.857143,4540.0,16.0
10,2021,JAWA BARAT,3211,KABUPATEN SUMEDANG,155.0,2382.0,1,1,1,1110.285714,2540.0,7.0
11,2021,JAWA BARAT,3212,KABUPATEN INDRAMAYU,2168.0,5586.0,2,8,9,1858.000000,7773.0,23.0
12,2021,JAWA BARAT,3213,KABUPATEN SUBANG,1794.0,2736.0,0,0,0,1394.857143,4530.0,15.0
13,2021,JAWA BARAT,3214,KABUPATEN PURWAKARTA,0.0,922.0,0,0,0,879.571429,922.0,5.0
14,2021,JAWA BARAT,3215,KABUPATEN KARAWANG,22.0,2914.0,2,2,6,1168.857143,2946.0,12.0
15,2021,JAWA BARAT,3216,KABUPATEN BEKASI,58.0,15485.0,7,23,24,2976.285714,15597.0,26.0
16,2021,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,240.0,5210.0,3,4,7,1528.857143,5464.0,17.0
17,2021,JAWA BARAT,3218,KABUPATEN PANGANDARAN,1.0,347.0,0,3,3,799.000000,354.0,1.0
18,2021,JAWA BARAT,3271,KOTA BOGOR,844.0,2990.0,10,26,28,1312.857143,3898.0,14.0
19,2021,JAWA BARAT,3272,KOTA SUKABUMI,36.0,621.0,4,6,8,852.571429,675.0,4.0
20,2021,JAWA BARAT,3273,KOTA BANDUNG,2081.0,4996.0,27,51,64,1787.571429,7219.0,22.0
21,2021,JAWA BARAT,3274,KOTA CIREBON,126.0,2394.0,0,0,1,1116.571429,2521.0,8.0
22,2021,JAWA BARAT,3275,KOTA BEKASI,700.0,5662.0,0,0,2,1665.714286,6364.0,21.0
23,2021,JAWA BARAT,3276,KOTA DEPOK,54.0,2397.0,33,78,84,1134.714286,2646.0,10.0
24,2021,JAWA BARAT,3277,KOTA CIMAHI,509.0,1221.0,1,0,2,1004.428571,1733.0,6.0
25,2021,JAWA BARAT,3278,KOTA TASIKMALAYA,45.0,3766.0,0,1,1,1301.714286,3813.0,13.0
26,2021,JAWA BARAT,3279,KOTA BANJAR,1.0,603.0,0,0,1,843.571429,605.0,3.0

In [91]:
score.to_csv('data_score.csv')